/*font-family: 'Heebo', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 10px;
  font-family: "Heebo", sans-serif;
}

.wrap {
  overflow: hidden;
}

header {
  position: relative;
  height: 40vh;
  width: 100%;
}

header img.header-logo {
  position: absolute;
  bottom: 0;
  display: block;
  height: 90%;
  margin-left: 60px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: rgba(121, 134, 203, 0.5);
}

nav>div.nav-wrap {
  position: relative;
  display: flex;
  height: 100%;
  padding: 0 20px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav>div.nav-wrap div.account-info {
  position: relative;
  display: none;
  height: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

nav>div.nav-wrap div.account-info.active {
  display: flex;
}

nav>div.nav-wrap div.account-info p {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
}

nav>div.nav-wrap div.account-info a.account-a {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  background: #ff8a65;
  margin: 0 5px;
  transition: 0.3s;
}

nav>div.nav-wrap div.account-info a.account-a:hover {
  background: #fff;
  color: #ff8a65;
}

nav>div.nav-wrap span {
  color: #ff8a65;
  font-weight: 300;
}

nav>div.nav-wrap h1 {
  font-size: 7rem;
  color: #fff;
  line-height: 100px;
  padding: 0 20px;
}

nav>div.nav-wrap p.account {
  font-size: 2.5rem;
  color: #ff8a65;
  line-height: 100px;
  font-weight: 700;
  transition: 0.3s;
  padding: 0 20px;
  cursor: pointer;
}

nav>div.nav-wrap p.account:hover {
  background: #ff8a65;
  color: white;
}

nav>div.nav-wrap p.account:hover i {
  color: white;
}

nav>div.nav-wrap p>i {
  vertical-align: -4px;
  font-size: 3rem;
  color: #ff8a65;
  line-height: 100px;
  margin: 0 5px;
  transition: 0.3s;
}

nav>div.nav-wrap input {
  width: 200px;
  padding: 5px 20px;
  font-family: "Heebo", sans-serif;
  border-style: none;
  color: #7986cb;
  border-radius: 20px;
  text-align: center;
  margin: 0 10px;
}

nav>div.nav-wrap input::placeholder {
  color: #7986cb;
}

nav>div.nav-wrap input:focus {
  padding: 5px 20px;
  font-family: "Heebo", sans-serif;
  border-style: none;
  border: 2px solid #ff8a65;
  color: #ff8a65;
  border-radius: 20px;
  text-align: center;
  margin: 0 5px;
}

nav>div.nav-wrap div.search-box {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

nav>div.nav-wrap div.search-box:hover>i {
  color: #ff8a65;
}

nav>div.nav-wrap div.search-box>i {
  position: absolute;
  font-size: 2.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  color: #fff;
}

nav>div.nav-wrap a {
  font-size: 2.5rem;
  background: #ffe082;
  text-decoration: none;
  color: #fff;
  border-radius: 20px;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  transition: 0.3s;
}

nav>div.nav-wrap a:hover {
  background: #fff;
  color: #ffe082;
}

div.bot-nav {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(40vh - 100px);
}

div.bot-nav>p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-weight: 300;
  color: #7986cb;
}

div.bot-nav img.car {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  transform: translateY(28%);
  z-index: 1410;
  animation: ride 6s infinite;
  animation-timing-function: linear;
}

div.bot-nav img.car1 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  transform: translateY(28%);
  animation: ride 4s infinite;
  animation-timing-function: linear;
}

div.bot-nav img.car2 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  transform: translateY(28%);
  animation: ride 5s infinite;
  animation-timing-function: linear;
}

div.bot-nav img.car3 {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30%;
  transform: translateY(28%);
  animation: ride 3s infinite;
  animation-timing-function: linear;
}

main {
  position: relative;
  height: 60vh;
  width: 100%;
  background: #7986cb;
  border-top: 10px solid #000;
}

main h2 {
  text-align: center;
  padding: 20px;
  font-size: 5rem;
  font-weight: 300;
  color: #000;
  width: 40%;
  border-bottom: 3px solid #000;
  margin: 0 auto;
}

main img.main-img {
  position: absolute;
  width: 5%;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
}

main>div.categories {
  position: relative;
  display: flex;
  width: 100%;
  height: 32vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

main>div.categories .category {
  position: relative;
  width: 200px;
  height: 200px;
  background: #ffe082;
  border: 10px solid #000;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}

main>div.categories .category:hover {
  opacity: 1;
}

main>div.categories .category:hover>i {
  color: #000;
}

main>div.categories .category>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  color: #000;
  transition: 0.3s;
}

main>div.get-started-bar {
  position: relative;
  height: 15vh;
  width: 100%;
  background: #ffe082;
}

main>div.get-started-bar>a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  background: #fff;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
  font-weight: 300;
  color: #7986cb;
  transition: 0.3s;
  border: 2px solid #fff;
}

main>div.get-started-bar>a:hover {
  color: #ff8a65;
  letter-spacing: 2px;
  border: 2px solid #ffe082;
}

/*REGISTER STYLES*/

header.register-header {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100%;
}

header.register-header>div.left-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  flex: 1;
  background-color: #7986cb;
}

header.register-header>div.left-column span {
  font-weight: 300;
  color: #ff8a65;
}

header.register-header>div.left-column p {
  font-weight: 300;
  font-size: 2.2rem;
  color: #fff;
  text-align: center;
  padding: 10px 10px;
  margin-top: 10px;
}

header.register-header>div.left-column>a {
  font-size: 10rem;
  color: #fff;
  padding: 20px 0;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

header.register-header>div.left-column>a:hover {
  letter-spacing: 2px;
}

header.register-header div.right-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  flex: 1;
  background-color: #ffe082;
}

header.register-header div.right-column img {
  height: 40%;
}

header.register-header div.right-column>form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7986cb;
  border: 10px solid #000;
  border-bottom: none;
  width: 60%;
  bottom: 0;
}

header.register-header div.right-column>form input {
  width: 300px;
  height: 40px;
  background: #fff;
  border-style: none;
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 300;
  color: #ff8a65;
}

header.register-header div.right-column>form input.submit-btn {
  width: 100%;
  height: 60px;
  background: #000;
  border-style: none;
  text-align: center;
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  color: #7986cb;
  opacity: 0.5;
  transition: 0.3s;
}

header.register-header div.right-column>form input.submit-btn:hover {
  opacity: 1;
  font-size: 3rem;
  letter-spacing: 2px;
}

header.register-header div.right-column>form input:focus {
  border-bottom: 10px solid #ff8a65;
}

header.register-header div.right-column>form input::placeholder {
  color: #ff8a65;
}

input.submit-btn {
  width: 300px;
  height: 80px;
  border-style: none;
  font-size: 3rem;
  font-family: "Heebo", sans-serif;
  margin-top: 10px;
  background-color: #ffe082;
  color: #ff8a65;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}

button.register-btn:hover {
  background-color: #7986cb;
  color: #fff;
  letter-spacing: 2px;
}

footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #fff;
  border-top: 10px solid #000;
}

footer>p {
  font-size: 2rem;
  color: #7986cb;
}

footer span {
  font-weight: 700;
  color: #ff8a65;
}

footer i {
  color: red;
}

/*OFFERS*/

section.create-offer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section.create-offer a {
  font-size: 6rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  font-weight: 700;
  padding: 10px 10px;
}

section.create-offer a>span {
  color: #ff8a65;
  font-weight: 300;
}

section.create-offer a:hover {
  letter-spacing: 2px;
}


.top-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}

.top-content p {
  font-size: 6rem;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
  font-weight: 300;
}

.bottom-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}

header.header-offer {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ffe082;
}

header.header-offer img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

header.header-offer footer.footer-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #fff;
}

section.add-offer {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #7986cb;
}

section.add-offer>form.offer-creation-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  padding: 0 20px;
}

section.add-offer>form.offer-creation-form textarea {
  font-family: "Heebo", sans-serif;
  font-size: 1.5rem;
  height: 200px;
  padding: 10px;
}

section.add-offer>form.offer-creation-form div.category-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

section.add-offer>form.offer-creation-form div.imgs-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

section.add-offer>form.offer-creation-form input {
  font-size: 1.5rem;
  padding: 2px 20px;
  margin: 0 auto;
  font-family: "Heebo", sans-serif;
  border: none;
}

section.add-offer>form.offer-creation-form input.title-input {
  width: 350px;
}

section.add-offer>form.offer-creation-form input[type="file"] {
  display: none;
}

section.add-offer>form.offer-creation-form input.submit-btn {
  width: 120px;
  height: 60px;
  border-radius: 8px;
  margin: 10px auto;
  font-size: 4rem;
  color: #7986cb;
  transition: 0.3s;
}

section.add-offer>form.offer-creation-form input.submit-btn:hover {
  background-color: #fff;
}

section.add-offer>form.offer-creation-form label.cat-label {
  position: relative;
  width: 70px;
  height: 70px;
  background: #ff8a65;
  border-radius: 50%;
}

section.add-offer>form.offer-creation-form label.img-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 70px;
  width: 33.33%;
  background-color: #ff8a65;
  font-size: 1.5rem;
  border: 2px dashed #fff;
  margin: 10px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

section.add-offer>form.offer-creation-form label.img-label:hover {
  opacity: 1;
}

section.add-offer>form.offer-creation-form label.img-label.main {
  background-color: #ffe082;
  color: #7986cb;
}

section.add-offer>form.offer-creation-form label.img-label.main>i {
  color: #7986cb;
}

section.add-offer>form.offer-creation-form label.cat-label>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #fff;
}

section.add-offer>form.offer-creation-form p {
  text-align: center;
  font-size: 3rem;
  padding: 10px 20px;
  font-weight: 700;
  color: #ffe082;
}

/*Asides*/

aside.automotive-tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 50vw;
  height: 100%;
  background: #ffe082;
  border-left: 10px solid #000;
  transition: 0.3s;
  z-index: 1410;
  right: -200%;
}

aside.clothes-tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 50vw;
  height: 100%;
  background: #ffe082;
  border-left: 10px solid #000;
  transition: 0.3s;
  z-index: 1410;
  right: -200%;
}

aside.electronics-tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 50vw;
  height: 100%;
  background: #ffe082;
  border-left: 10px solid #000;
  transition: 0.3s;
  z-index: 1410;
  right: -200%;
}

aside.music-accessories-tab {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  top: 0;
  width: 50vw;
  height: 100%;
  background: #ffe082;
  border-left: 10px solid #000;
  transition: 0.3s;
  z-index: 1410;
  right: -200%;
}

aside.automotive-tab.show {
  right: 0;
}

aside.clothes-tab.show {
  right: 0;
}

aside.electronics-tab.show.show {
  right: 0;
}

aside.music-accessories-tab.show {
  right: 0;
}

aside div.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  height: 90%;
  padding: 20px;
}

aside>img {
  position: absolute;
  top: -2px;
  width: 10%;
}

aside div.form p.form-p {
  font-size: 2rem;
  font-weight: 700;
  color: #7986cb;
}

aside div.form div.cat-logo {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: #7986cb;
  border-radius: 50%;
  border: 4px solid #000;
}

aside div.form input {
  padding: 4px 20px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  border: 2px solid #fff;
  border-radius: 4px;
}

aside div.form div.cat-logo>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: #fff;
}

aside div.form div.condition-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

aside div.form div.condition-box>label {
  padding: 10px;
  background-color: #ff8a65;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 5px 0;
  color: #fff;
  border: 2px solid #fff;
}

aside div.form button {
  padding: 15px 40px;
  font-family: "Heebo", sans-serif;
  font-size: 2rem;
  background: #7986cb;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}

aside div.form button:hover {
  opacity: 1;
}

/*ANIMATIONS*/

@keyframes ride {
  from {
    right: -10%;
  }

  to {
    right: 110%;
  }
}